.intro__list {
    font-style: normal;
    max-width: 690px;
    font-size: 12px;
    line-height: 18px;
    margin: 33px 0 0;
    padding-left: 0;
    color: white;
    list-style-type: none;
}

@media screen and (max-width:425px) {
    .intro__list {
        max-width: 288px;
    }
}