.footer__list {
    margin-bottom: 24px;
    list-style-type: none;
    display: flex;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .footer__list {
        display: block;
    }
}

@media screen and (max-width: 425px) {
    .footer__list {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}